.alert {
    padding: 10px;
    background-color: #f4493d; /* Red */
    color: white;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 8px;
}

/* .error-message1 {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
} */

.error-message {
    color: #dc3545;
    background-color: #f8d7da;
    padding: 8px;
    border: 1px solid #dc3545;
    border-radius: 5px;
    display: none;
    font-size: 14px;
}
.error-message.show {
    display: block; 
}
.info-message.medico-existe {
    color: #2ecc71; /* Verde brillante para texto */
    background-color: #dff9e6; /* Verde claro para fondo */
    padding: 12px;
    border: 1px solid #27ae60; /* Borde más oscuro */
    border-radius: 8px;
    display: none; /* Oculto por defecto */
    font-size: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.info-message.medico-no-existe {
    color: #e74c3c; /* Rojo brillante para texto */
    background-color: #f9d6d6; /* Rojo claro para fondo */
    padding: 12px;
    border: 1px solid #c0392b; /* Borde más oscuro */
    border-radius: 8px;
    display: none; /* Oculto por defecto */
    font-size: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.info-message.show {
    display: block; 
}


#error{
    color: red;
    font-weight: bold;
}
