
.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-background {
    /* background-image: url('../img/wave.png'); */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: bottom;
    background-color: #e4e3df;
    height: 100%;
    
}

.app-form-login{
    /* background-color: white; */
    width: 30em;
    height: 45em;
}

.img-login {
    background-image: url('../img/logo1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10em;
    height: 10em;
}

.container-img-login {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 20%;
}

.app-img-border {
    background-color: #9bb2bd;
    width: 14em;
    height: 14em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 5px solid #ffffff;
}

.app-form-group {
    width: 25em;
    justify-content: center;
    align-items: center;
}

.app-form-center {
    display: flex;
    justify-content: center;
    height: 100%;
}

.app-btn-login {
    background-color:  #80a828;
    border: black;
}

.app-form-background-color {
    padding-top: 24%;
    background-color: #ffffff;
    height: 68%;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border: 3px solid #e4e3df;

}

.app-form-background-shadow {
    -webkit-box-shadow: 5px 5px 7px -1px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 5px 5px 7px -1px rgba(0,0,0,0.75);
box-shadow: 5px 5px 7px -1px rgba(0,0,0,0.75);
} 


.app-login-titulo {
    font-family: "Raleway";
    font-weight: 15px;
    font-size: 3em;
    color: #9bb2bd;
    padding-left: 5%;
}

.app-input-form {
    background-color: #ffffff;
    border-style: none;
    font-family: "Raleway";
    font-size: 15%;
    border: 4px, #e4e3df, solid;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 0.9em;
    padding-left: 8px;
}

.register-link:hover {
    text-decoration: underline;
}
