

* {
    margin: 0%;
}

/* SE USA */
.encabezado-titulo-lila {
    background-color: #937aa2;
    width: 10em;
    height: 2em;
}

/* SE USA */
.encabezado-gris {
    width: 100%;
    height: 2em;
    background-color: #e4e3df;
}


.encabezado-azul {
    width: 100%;
    height: 2em;
    background-color: #254b5e;
   font-size: 28px;
}

/* TABLA EMPLEADO */

.tabla-empleado  {
    width: 100%;
    background-color: white;
    text-align: center;
}

.tabla-empleado tr th  {
    border: 5px solid #e4e3df;
}

.encabezado-blanco {
    width: 100%;
    height: 2em;
}

/* ########################### */


.btn-verde {
    background-color: #80a828;
    color: white;
}

.btn-verde:hover {
    color: white;
    background-color: #6e8f1e; /* Color más oscuro en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.btn-rojo {
    background-color: #8b2b2f;
    color: white;
}

.btn-rojo:hover {
    color: white;
    background-color: #A63A3F; /* Un tono más claro al pasar el cursor */
}



.img-tabla-empleado {
    width: 10em;
    height: 10em;
}

.img_asignar_estado {
    width: 40px;
    height: 40px;
}

.dt-layout-row {
    margin:0% !important; 
}