.div-padre {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #f8f9fa;
}

.form-container {
    background: var(--light-gray);
    padding: 30px;
    padding-bottom: 0px;
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 100%;
    max-width: 500px;
}

.borde {
    border: 2px solid #8b8989;
    border-radius: 8px;
    padding: 5px;
}

.borde-label {
    border: 3px solid #8b8989;
    border-radius: 8px;
    padding: 5px;
}

.contenido-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenido-izquierda {
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%;
    max-width: 800px
}

.contenido-derecha {
    display: flex;
    justify-content: right;
    align-items: end;
    width: 100%;
    max-width: 800px
}

.contenido-columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenido-centrado button,
a {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal::shadow {
    box-shadow: #888;
}

.close {
    color: #aaaaaad5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    /* Espacio entre las columnas */
    padding: 20px;
}

.col-6 {
    width: 48%;
}

.caja-gris {
    margin-top: 10px;
    border: 1px solid var(--light-blue);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--light-gray);
}