form , h2 {
    margin-bottom: 20px;
    color: var(--dark-blue);
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group h1 {
    color: var(--dark-blue);
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark-blue);
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    transition: border-color 0.3s;
}
.form-group textarea {
    width: 100%;                
    padding: 10px;        
    border: 1px solid var(--dark-blue); 
    border-radius: 5px;      
    transition: border-color 0.3s; 
    resize: vertical;             
    min-height: 100px;           
    box-sizing: border-box;       
}


.form-group input:focus, .form-group select:focus , .form-group textarea:focus {
    border-color: var(--dark-blue);
    outline: none;
}

.show {
    display: block;
}
