* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
}

.header {
    top: 0;
    height: 60px;
    position: sticky;
    z-index: 1000;
}

.footer {
    bottom: 0;
    height: 50px;
    padding: 10px;
    
}

.content {
    flex: 1;
    padding: 20px 20px 20px;
    overflow-y: auto;
}

.bg-custom {
    background-color: var(--dark-blue);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--light-blue);
}

.navbar-collapse.show {
    background-color: var(--dark-blue);
}
