:root {
    --purple: #937aa2; 
    --dark-blue: #254b5e; 
    --light-blue: #9bb2bd; 
    --light-gray: #e4e3df; 
    --dark-gray: #b3b1ac;
    --red: #8b2b2f;     
    --green: #80a828;   
    --white: #fff;    
}
